# avoid pushing some directories like virtual enviroments and other dirs
# and some private dirs
segment/
segmentation/
literature/
# research/
weights/
test image/
Unet/
__pycache__/
.vscode/
brats23/
data/
runs/
configs/
test_scripts/
outputs/

# avoid pushing some common extensions mentioned below
*.pth
*.pdf
*.log
*.csv 

