# Avoid pushing some directories like virtual enviroments and other dirs
# And some private dirs
segment/
segmentation/
literature/
weights/
test image/
__pycache__/
.vscode/
brats23/
data/
runs/
configs/
test_scripts/
outputs/
SegResNet-runs/
logger/
logger.log

# Avoid pushing some common extensions mentioned here...
*.pth
*.pdf
*.log
*.csv 
*.pt

# Runs
AttentionUnet-runs/
ResUnetPlusPlus-runs/
